<div id = "side-menu" class = "side-menu" [ngClass] = 'applyWidthClass()'>
  <div>
    <i class="fa fa-home"></i>
    <a class="menu-Items" href="#">Home</a>
  </div>
  <div>
    <i class="fa fa-users"></i>
    <a class="menu-Items" href="#">Cusotmers</a>
  </div>
  <div>
    <i class="fa fa-usd"></i>
    <a class="menu-Items" href="#">Sales</a>
  </div>
  <div>
    <!-- <i class="fa fa-headset"></i> -->
    <i class="fa fa-users"></i>
    <a class="menu-Items" href="#">Service</a>
  </div>
  <div>
    <!-- <i class="fas fa-handshake"></i> -->
    <i class="fa fa-users"></i>
    <a class="menu-Items" href="#">Partners</a>
  </div>
  <div>
    <i class="fa fa-users"></i>
    <a class="menu-Items" href="#">Service</a>
  </div>
  <div>
    <i class="fa fa-users"></i>
    <a class="menu-Items" href="#">Visits</a>
  </div>

</div>
